
@{
    ViewBag.Title = "Index";
}
<h1><b><i>Its a Blank box can Write</i></b></h1>
<h6><i>write anything what you want</i></h6>
<i><textarea name="message" rows="5" cols="35">The fat cat was playing in the bed.</textarea></i>
<i><u>by 410637285 in 21.05.06</u></i><br>
<br />
<a href="https://www.pu.edu.tw/">PÜ Web</a><br>